* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Added an updated header tag to both the index and style file.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/*Added the header nav in order to correct the header.*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Changed this section to benefitsection for the class and got rid of useless code to keep it uniform.*/
.benefitsection {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Changed this section to benefitsection for the class and got rid of useless code to keep it uniform*/
.benefitsection h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Changed this section to benefitsection for the class and got rid of useless code to keep it uniform*/
.benefitsection img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Changed took out useless code to this section of code to have equal styles and switched the class to links in order for the html to call to it.*/
.links {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Changed and took out useless code to this section to links in order for all the images to have a uniform px.*/
.links img {
    max-height: 200px;
}

/*Changed and took out useless code to have all images have the same margin.*/
.links h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Fixed the div in the previous code to footer and changed it to footer here in order to have the style work.*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Added h4 to keep the html file working and to create an order in code.*/
footer h4 {
    font-size: 20px;
}
